<!-- Navbar Start -->
<div class="container-fluid nav-bar bg-transparent" style="padding: unset !important">
  <nav class="navbar navbar-expand-lg bg-white navbar-light py-0 px-4" style="background-color: #0055A7 !important;">
    <a routerLink="/" class="navbar-brand d-flex align-items-center text-center">
      <div class="icon p-2 me-2" [routerLink]="['/']">
        <img class="img-fluid" src="assets/img/logopng.png" alt="kst lanka" style="width: 30px; height: 30px" />
      </div>
      <h1 class="m-0 text-white" style="font-size: 13px">
        K. S. Trading Lanka (Pvt) Ltd
      </h1>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
      aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto">
        <a class="nav-item nav-link active" style="font-size: 13px" [routerLink]="['/']">Home</a>
        <a class="nav-item nav-link" style="font-size: 13px" (click)="scrollToSection('section2')">About</a>
        <a class="nav-item nav-link" style="font-size: 13px" (click)="scrollToSection('section3')">Contact Us</a>
        <a class="nav-item nav-link" style="font-size: 13px" [routerLink]="['/products']">Products</a>
        <a class="nav-item nav-link" style="font-size: 13px" [routerLink]="['/events']">Events</a>
      </div>
    </div>
  </nav>
</div>
<!-- Navbar End -->