<div class="container-xxl py-5">
  <div class="container">
    <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px">
      <h1 class="mb-3">Category Types</h1>
      <p>
        Discover top-quality HVAC solutions tailored to your needs at <br>K. S.
        Trading Lanka (Pvt) Ltd. we offer a curated selection of reliable and
        energy-efficient products from trusted manufacturers. From Air
        Conditioners to smart thermostats, we're committed to your comfort and
        satisfaction. Explore our range today and experience the difference with
        us
      </p>
    </div>
    <div class="row g-4">
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
        <a class="cat-item d-block bg-light text-center rounded p-3" href="">
          <div class="rounded p-4">
            <div class="icon mb-3">
              <img class="img-fluid" src="assets/img/1.jpeg" alt="Icon" />
            </div>
            <h6>Split <br> Air Conditioners</h6>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
        <a class="cat-item d-block bg-light text-center rounded p-3" href="">
          <div class="rounded p-4">
            <div class="icon mb-3">
              <img class="img-fluid" src="assets/Categories/Commercial iCOn.jpg" alt="Icon" />
            </div>
            <h6>Commercial <br>Air Conditioners</h6>
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
        <a class="cat-item d-block bg-light text-center rounded p-3" href="">
          <div class="rounded p-4">
            <div class="icon mb-3">
              <img class="img-fluid" src="assets/Categories/VRV.jpg" alt="Icon" />
            </div>
            <h6>Industrial <br>Air Conditioners</h6>
            <!-- <span>123 Properties</span> -->
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
        <a class="cat-item d-block bg-light text-center rounded p-3" href="">
          <div class="rounded p-4">
            <div class="icon mb-3">
              <img class="img-fluid" src="assets/Categories/Ceiling Concealed ducted.jpg" alt="Icon" />
            </div>
            <h6>Chilled Water <br>Fan Coil Units</h6>
            <!-- <span>123 Properties</span> -->
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
        <a class="cat-item d-block bg-light text-center rounded p-3" href="">
          <div class="rounded p-4">
            <div class="icon mb-3">
              <img class="img-fluid" src="assets/Categories/Duct Sheets.jpg" alt="Icon" />
            </div>
            <h6>Pre Insulated <br> Duct Sheets</h6>
            <!-- <span>123 Properties</span> -->
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
        <a class="cat-item d-block bg-light text-center rounded p-3" href="">
          <div class="rounded p-4">
            <div class="icon mb-3">
              <img class="img-fluid" src="assets/Categories/Accessories.jpg" alt="Icon" />
            </div>
            <h6>Duct Sheets <br> Accessories</h6>
            <!-- <span>123 Properties</span> -->
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
        <a class="cat-item d-block bg-light text-center rounded p-3" href="">
          <div class="rounded p-4">
            <div class="icon mb-3">
              <img class="img-fluid" src="assets/Categories/Filters.jpg" alt="Icon" />
            </div>
            <h6>Air Fiters <br> (HEPA/BAG/ULPA/Washable)</h6>
            <!-- <span>123 Properties</span> -->
          </div>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
        <a class="cat-item d-block bg-light text-center rounded p-3" href="">
          <div class="rounded p-4">
            <div class="icon mb-3">
              <img class="img-fluid" src="assets/Categories/Copper.jpg" alt="Icon" />
            </div>
            <h6>Soft Copper <br> (1/4, 1/2, 3/4, 5/8, 3/8) </h6>
            <!-- <span>123 Properties</span> -->
          </div>
        </a>
      </div>
        </div>
  </div>
</div>