<!-- About Start -->
<div class="container-xxl py-5" id="section2">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
        <div class="about-img position-relative overflow-hidden p-5 pe-0">
          <img class="img-fluid w-100" src="assets/img/5.jpg" />
        </div>
      </div>
      <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
        <h1 class="mb-4">#1 Place To Find The Perfect HVAC Solutions</h1>
        <p class="mb-4">
          Discover unparalleled comfort and efficiency with our top-tier HVAC
          solutions at K. S. Trading Lanka. As the industry leader, we offer a
          comprehensive range of tailored services to meet your specific needs.
          With our expertise and reliability, you can trust us to deliver
          optimal comfort and performance for your space. Plus, our
          cost-effective solutions ensure that you not only enjoy enhanced
          comfort but also save on energy expenses in the long run. Experience
          the difference with the #1 place for all your HVAC needs.
        </p>
        <p>
          <i class="fa fa-check text-primary me-3"></i>Comprehensive Solutions
        </p>
        <p>
          <i class="fa fa-check text-primary me-3"></i>Expertise and Reliability
        </p>
        <p>
          <i class="fa fa-check text-primary me-3"></i>Cost-Effective Solutions
        </p>
        <!-- <a class="btn btn-primary py-3 px-5 mt-3" href="">Read More</a> -->
      </div>
    </div>
  </div>
</div>
<!-- About End -->