<div class="container-fluid header bg-white p-0">
  <div class="row g-0 align-items-center flex-column-reverse flex-md-row">
    <div class="col-md-6 p-5 mt-lg-5">
      <h1 class="display-5 animated fadeIn mb-4">K.S. Trading Lanka</h1>
      <p class="animated fadeIn mb-4 pb-2" style="font-size: 22px">
        The Leading Supplier of Air Conditioning
      </p>
    </div>
    <div class="col-md-6 animated fadeIn">
      <div class="owl-carousel header-carousel">
        <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
          @for (item of bannerList; track item._id){
          <div ngxSlickItem class="slide">
            <img class="img-fluid" [src]="item?.imagePath" alt="abc" />
          </div>

          }

        </ngx-slick-carousel>

      </div>
    </div>
  </div>
</div>