<section>
  <app-header></app-header>
  <div class="container flex">
    <div class="left">
      <div class="main_image">
        <div class="main">
          <img [src]="productdetailsList?.imagePath?.[0]" id="image" class="slide img-fluid mt-4" />
          <div class="zoom-preview"></div>
        </div>
      </div>
      <div class="option flex" style="flex-wrap: nowrap !important;">
        @for (image of productdetailsList.imagePath; track image._id) {
        <img [src]="image" (click)="img(image)" style="width: 120px; height: 120px" />
        } @empty {
        <li>There are no items.</li>
        }
      </div>
    </div>
    <div class="right">
      <h1>{{ productdetailsList?.title }}</h1>
      <!-- <h4> <small>$</small>999.99 </h4> -->
      <p [innerHTML]="productdetailsList?.longDescription"></p>
      <!-- <h5>Number</h5>
       <div class="add flex1">
         <span>-</span>
         <label>1</label>
         <span>+</span>
       </div> -->

      <button>Buy Now</button>
      <button class="mt-4" (click)="getMoreDetails()">More Details</button>
    </div>
  </div>
  <app-footer></app-footer>
</section>