/* You can add global styles to this file, and also import other style files */
.active {
  color: blue;
  /* Add any other styles to indicate the active section */
}

.ngx-pagination .current {
  background: #0055a7 !important;
}
.modal {
  z-index: 20000 !important;
}
