<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-0 gx-5 align-items-end">
      <div class="col-lg-6">
        <div class="text-start mx-auto mb-5 wow slideInLeft" data-wow-delay="0.1s">
          <h1 class="mb-3">Our Products</h1>
          <p>
            Welcome to our products page, where you'll find a diverse selection of top-quality air conditioning
            solutions tailored to meet your cooling needs. Explore our range today and stay comfortable year-round.
          </p>
        </div>
      </div>

      <div class="col-lg-6 text-start text-lg-end wow slideInRight" data-wow-delay="0.1s"></div>
    </div>
    <div class="tab-content">
      <div id="tab-1" class="tab-pane fade show p-0 active">
        <div class="row g-4">
          @for (item of productList | paginate: { itemsPerPage: 6, currentPage: p }; track item._id; let i = $index) {
          <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s" *ngIf="i<=8">
            <div class="property-item rounded overflow-hidden" [routerLink]="['/brand', item._id]">
              <div class="position-relative overflow-hidden">
                <img class="img-fluid" [lazyLoad]="item?.imagePath" [alt]="item?.title" />
                <div class="bg-white rounded-top text-primary position-absolute start-0 bottom-0 mx-4 pt-1 px-3">
                  <!-- {{ item?.title }} -->
                </div>
              </div>
              <div class="p-4 pb-0">
                <h5 class="text-primary mb-3">{{ item?.description }}</h5>
              </div>
            </div>
          </div>
          } @empty {
          <li>There are no items.</li>
          }
        </div>
      </div>
    </div>

    <div class="col-12 text-center">
      <div class="py-3 px-5 mt-4">
        <pagination-controls (pageChange)="p = $event" [responsive]="true"></pagination-controls>

      </div>

      <a class="btn btn-primary py-3 px-5 mt-4" routerLink="/products">Browse More Products</a>
    </div>
  </div>
</div>